@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    background-color: #191c24;
}

.alertDanger {
    background-color: #FF5370;
    color: #FFFFFF;
    display: inline-block;
    border-radius: 5px;
    margin: 10px 0px;
    padding: 10px 10px;
}

.alertSuccess {
    background-color: #2ED8B6;
    color: #FFFFFF;
    display: inline-block;
    border-radius: 5px;
    margin: 10px 0px;
    padding: 10px 10px;
}

.bg-31629e {
    background: #31629e;
}

.headerTop {
    background-color: #242d37;
    height: 60px;
    padding: 0px 0px;
}

.headerTop img {
    width: 40px;
    height: 40px;
    object-fit: cover;
    border-radius: 50%;
    margin-right: 10px;
}

.headerTop a {
    text-decoration: none;
    color: #fff;
    margin-right: 15px;
}

.sidebar {
    background-color: #242d37;
}

.infocol2 h6 {
    color: #ffffff;
}

.infocol2 p {
    color: #cec3c3;
}

.infocol2 img {
    margin-left: 11px;
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 50%;
}

.site-logo {
    padding-left: 30px;
}

.header-info ul {
    padding-left: 150px;
    display: flex;
    list-style: none;
    line-height: 60px;
}

.header-info ul li a {
    font-weight: 700;
    color: #616161;
    margin-right: 30px;
    text-decoration: none;
    font-size: 18px;
}

.main-page {
    display: flex;
    position: relative;
    padding-left: 0 !important;
}

.header {
    background-color: #fafafa;
    width: 100%;
    position: fixed;
    z-index: 1000;
    height: 60px;
    box-shadow: 0 0.46875rem 2.1875rem rgba(4, 9, 20, .03), 0 0.9375rem 1.40625rem rgba(4, 9, 20, .03), 0 0.25rem 0.53125rem rgba(4, 9, 20, .05), 0 0.125rem 0.1875rem rgba(4, 9, 20, .03);
}

.app-main {
    width: 100%;
}

.sidebar {
    position: fixed;
    height: 100vh;
    width: 220px;
    padding: 10px 0px !important;
    font-weight: 700;
    border-radius: 0px 5px 5px 0px;
    z-index: 20;
}

.sidebar ul {
    padding: 0 !important;
    list-style: none;
}

.sidebar ul li {
    padding: 15px;
}

.sidebar ul li a {
    color: #d1d1d1;
    text-decoration: none;
    transition: ease-in-out .2s all;
}

.sidebar ul li:hover {
    background-color: #c40202;
}

.sidebar ul li:hover a {
    color: #ffffff;
}

.ico-side {
    margin-right: 10px;
}

.main-content {
    padding-left: 232px;
    padding-bottom: 20px;
}

.main-content .title-page {
    padding-top: 20px;
    color: #ffffff;
    width: 300px;
}

.main-content .statistics {
    box-sizing: border-box;
    display: flex;
}

.main-content .statistics a {
    text-decoration: none;
}

.widget-chart {
    text-align: center;
    padding: 1rem;
    border-radius: 10px;
    position: relative;
}

.widget-chart {
    color: #000;
    font-size: 24px;
    font-weight: 700;
}

.chart {
    padding: 15px;
    border-radius: 10px;
}

/* table{
    border: solid 1px #000;
    border-collapse: collapse;
}
.revenue th, td{
    width: 200px;
    text-align: center;
} */
.chart h4 {
    margin-bottom: 25px;
}

.chart span {
    margin-left: 180px;
    font-weight: 700;
}

.form-login {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

.form-gr {
    padding: 15px;
    border-radius: 10px;
}

.addPro .form-group {
    margin-bottom: 20px;
}

/**/

/* btn form add*/

.btnFormAdd {
    background: #fff;
    border: none;
    margin-bottom: 20px;
    padding: 8px 20px;
    display: inline-block;
    font-size: 15px;
    font-weight: 600;
    width: 120px;
    text-transform: uppercase;
    cursor: pointer;
    transform: skew(-21deg);
    float: right;
    border: 3px solid #1f508d;
}

.btnFormAdd a {
    display: inline-block;
    transform: skew(21deg);
    color: #1f508d;
}

.btnFormAdd::before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    right: 100%;
    left: 0;
    background: #1f508d;
    opacity: 0;
    z-index: -1;
    transition: all 0.5s;
}

.btnFormAdd:hover a {
    color: #fff;
}

.btnFormAdd:hover::before {
    left: 0;
    right: 0;
    opacity: 1;
}

/**/
.pagination {
    background-color: #191c24;
}

.pagination li {
    background-color: #191c24;
}

/**/


/* .orderAdminTr:nth-child(even) {
    background-color: #f2f2f2;
}

table tbody tr:nth-child(even) {
    background-color: #f2f2f2;
} */
/**/
.buttonProductForm {
    display: flex;
    justify-content: end;
    column-gap: 0px;
    margin-bottom: 20px;
}

.buttonProductForm .btnF1 {
    background-color: #FFB64D;
    border-radius: 0;
    color: #FFFFFF;
}

.buttonProductForm .btnF2 {
    background-color: #FF5370;
    border-radius: 0;
    color: #FFFFFF;
}

.buttonProductForm .btnF3 {
    background-color: #00BCD4;
    border-radius: 0;
    color: #FFFFFF;
}

.buttonProductForm .btnF4 {
    background-color: #1e91cf;
    border-radius: 0;
    color: #FFFFFF;
}

.buttonProductForm .btnF1:hover {
    background-color: #f79f24;
    color: #FFFFFF;

}

.buttonProductForm .btnF2:hover {
    background-color: #f72d4f;
    color: #FFFFFF;

}

.buttonProductForm .btnF3:hover {
    background-color: #00BCD4;
    color: #FFFFFF;

}

/**/
.pagination {
    justify-content: center;
    margin-top: 20px;
}

.pagination .page-link {
    color: #ffffff;
    /* Màu chữ của các nút phân trang */
    background-color: transparent;
    /* Màu nền của các nút phân trang */
    border-color: #ffffff;
    /* Màu viền của các nút phân trang */
}

.pagination .page-item.active .page-link {
    background-color: #31629e;
    /* Màu nền của nút phân trang được chọn */
    border-color: #ffffff;
    /* Màu viền của nút phân trang được chọn */
}

/**/
.formAdmin {
    color: #000;
}

.formAdminAlert {
    width: 800px;
    padding: 20px 20px;
}

.formAdmin {
    width: 100%;
    height: auto;
    padding: 20px 20px;
    /* background: linear-gradient(#010101, #000000) padding-box,
              linear-gradient(145deg, transparent 35%,#e81cff, #40c9ff) border-box; */
    box-shadow: rgba(0, 0, 0, 0.09) 0px 3px 12px;
    border: 2px solid transparent;
    padding: 32px 24px;
    box-sizing: border-box;
    background-size: 200% 100%;
    animation: gradient 5s ease infinite;
    /* border-radius: 0 25px 0 25px ; */
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

/**/
.formadmin {
    margin-top: 150px;
}

.form_main {
    width: 320px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    padding: 30px 30px 30px 30px;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.062);
    position: relative;
    overflow: hidden;
}

.form_main::before {
    position: absolute;
    content: "";
    width: 300px;
    height: 300px;
    background: linear-gradient(90deg, #31629e);
    transform: rotate(45deg);
    left: -180px;
    bottom: 30px;
    z-index: 1;
    border-radius: 30px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.082);
}

.heading {
    font-size: 2em;
    font-weight: 700;
    margin: 5px 0 10px 0;
    z-index: 2;
    background: linear-gradient(90deg, #00ffff, #ff00c3);
    background-color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.inputContainer {
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 2;
}

.inputIcon {
    position: absolute;
    left: 3px;
}

.inputField {
    width: 100%;
    height: 30px;
    background-color: transparent;
    border: none;
    border-bottom: 2px solid rgb(173, 173, 173);
    margin: 10px 0;
    color: black;
    font-size: .8em;
    font-weight: 500;
    box-sizing: border-box;
    padding-left: 30px;
}

.inputField:focus {
    outline: none;
    border-bottom: 2px solid rgb(199, 114, 255);
}

.inputField::placeholder {
    color: rgb(80, 80, 80);
    font-size: 1em;
    font-weight: 500;
}

#button_admin {
    z-index: 2;
    position: relative;
    width: 100%;
    border: none;
    background-color: #1f508d;
    height: 30px;
    color: white;
    font-size: .8em;
    font-weight: 500;
    letter-spacing: 1px;
    margin: 10px;
    cursor: pointer;
}

#button_admin:hover {
    background-color: #31629e;
}

.forgotLink {
    z-index: 2;
    font-size: .7em;
    font-weight: 500;
    color: rgb(44, 24, 128);
    text-decoration: none;
    padding: 8px 15px;
    border-radius: 20px;
}

/**/
.imageAdd {
    box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px;
}

/**/
.inputSearch_Admin {
    width: 250px;
    background-color: #ffffff;
    color: #242424;
    padding: .15rem .5rem;
    min-height: 40px;
    outline: none;
    border: none;
    line-height: 1.15;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 2px 0px;
}


.inputSearch_Admin:hover {
    outline: 1px solid #c5dcf9;
}

/**/
/**/
.btn-coupon {
    --color: #31629e;
    --color2: #ffffff;
    margin: 15px 0px;
    padding: 8px 20px;
    background-color: transparent;
    border: .3px solid var(--color);
    transition: .5s;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    z-index: 1;
    font-weight: 500;
    font-size: 15px;
    font-family: 'Roboto', 'Segoe UI', sans-serif;
    text-transform: uppercase;
    color: var(--color);
}

.btn-coupon::after, .btn-coupon::before {
    content: '';
    display: block;
    height: 100%;
    width: 100%;
    transform: skew(90deg) translate(-50%, -50%);
    position: absolute;
    inset: 50%;
    left: 25%;
    z-index: -1;
    transition: .5s ease-out;
    background-color: var(--color);
}

.btn-coupon::before {
    top: -50%;
    left: -25%;
    transform: skew(90deg) rotate(180deg) translate(-50%, -50%);
}

.btn-coupon:hover::before {
    transform: skew(45deg) rotate(180deg) translate(-50%, -50%);
}

.btn-coupon:hover::after {
    transform: skew(45deg) translate(-50%, -50%);
}

.btn-coupon:hover {
    color: var(--color2);
}

.btn-coupon:active {
    filter: brightness(.7);
    transform: scale(.98);
}

/**/
.orderAdminTable {
    background-color: #F5F5F5;
    padding: 20px 10px;
}

.actionAdmin {
    display: flex;
    justify-content: start;
    align-items: center;
    padding: 0 0;
    border: none;
}

.actionAdminProduct {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.nameAdmin p {
    color: #1E91CF;
    font-weight: 600;
}

.actionAdminProduct .btnActionProductAdmin1 {

    padding: 10px 10px;
    border: none;
    outline: none;
    background-color: #F38733;
    color: #ffffff;
    border-radius: 0;
    margin-bottom: 10px;
}

.actionAdminProduct .btnActionProductAdmin2 {
    padding: 10px 10px;
    border: none;
    outline: none;
    background-color: #1e91cf;
    color: #ffffff;
    border-radius: 0;

}

.btnOrderAdmin a {
    border: none;
    margin: 10px -2px;
}

/**/
.cardDashboard {
    padding: 15px 5px;
    background-color: #F1F1F0;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 2px 0px;
}

.cardDashboard_1 {
    background: #ff5370;
    padding: 10px 5px;
    color: #FFFFFF;
    border-radius: 5px;
}

.cardDashboard_1 .backBlur,
.cardDashboard_2 .backBlur,
.cardDashboard_3 .backBlur,
.cardDashboard_4 .backBlur {
    background: rgba(255, 255, 255, 0.05);
    backdrop-filter: blur(10px);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);

}

.cardDashboard_1 .iconDashboard {
    display: flex;
    background-color: #ffffff;
    width: 50px;
    height: 80px;
    color: #ff5370;
    align-items: center;
}

.cardDashboard_2 {
    background: #4099ff;
    color: #FFFFFF;
    padding: 10px 5px;
    border-radius: 5px;

}

.cardDashboard_2 .iconDashboard {
    display: flex;
    background-color: #ffffff;
    width: 50px;
    height: 80px;
    color: #4099ff;
    align-items: center;
}

.cardDashboard_3 {
    background: #2ed8b6;
    color: #FFFFFF;
    padding: 10px 5px;
    border-radius: 5px;

}

.cardDashboard_3 .iconDashboard {
    display: flex;
    background-color: #ffffff;
    width: 50px;
    height: 80px;
    color: #2ed8b6;
    align-items: center;
}

.cardDashboard_4 {
    background: #ffb64d;
    color: #FFFFFF;
    padding: 10px 5px;
    border-radius: 5px;

}

.cardDashboard_4 .iconDashboard {
    display: flex;
    background-color: #ffffff;
    width: 50px;
    height: 80px;
    color: #ffb64d;
    align-items: center;
}

.cardDashboard_1 h4,
.cardDashboard_2 h4,
.cardDashboard_3 h4,
.cardDashboard_4 h4 {
    color: #FFFFFF;
}

/**/
.cardTwoDashboard {
    background-color: #FFFFFF;
    border-radius: 5px;
}

.cardTwoDashboardItem {
    background-color: #F1F1F0;
    padding: 10px 10px;
    margin: 0 0;
    height: 130px;
    border-radius: 5px;
    position: relative;

}

.iconCardDash {
    position: absolute;
    top: 20px;
    left: 220px;
    border-radius: 50%;
    background-color: #000000;
    width: 35px;
    height: 35px;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

/**/
.fade-out-left {
    animation: fade-out-left 0.5s ease-in-out both;
}

@keyframes fade-out-left {
    0% {
        transform: translateX(0);
        opacity: 1;
    }

    100% {
        transform: translateX(-100%);
        opacity: 0;
    }
}

/**/
.navPhanTrang {
    background-color: #FFFFFF;
}

.navPhanTrang ul {
    background-color: #FFFFFF;

}

.navPhanTrang ul li {
    background-color: #FFFFFF;

}

.navPhanTrang .pagination li a {
    color: #188DD1;
    background-color: #F0F0F0;
}

/**/
.table-header {
    height: 60px;
}

.table-header tr {
    vertical-align: middle;
    text-align: center;

}

.table-body tr td {
    vertical-align: middle;
    text-align: center;

}

.table-body tr td .form-check {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    column-gap: 10px;
}

/**/
.searchAdmin {
    background-color: #F5F5F5;
    padding: 0 10px;
    box-shadow: rgba(3, 102, 214, 0.3) 0px 0px 0px 1px;
}

/**/
/* Customize the label (the checkbox-btn) */
.checkbox-btnGroup {
    display: block;
    position: relative;
    padding-left: 25px;
    margin-bottom: 10px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Hide the browser's default checkbox */
.checkbox-btnGroup input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.checkbox-btnGroup label {
    cursor: pointer;
    font-size: 14px;
}

/* Create a custom checkbox */
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 18px;
    width: 18px;
    border: 2.5px solid #000000;
    transition: .2s linear;
}

.checkbox-btnGroup input:checked~.checkmark {
    background-color: transparent;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    visibility: hidden;
    opacity: 0;
    left: 50%;
    top: 40%;
    width: 10px;
    height: 14px;
    border: 2px solid #0ea021;
    filter: drop-shadow(0px 0px 10px #0ea021);
    border-width: 0 2.5px 2.5px 0;
    transition: .2s linear;
    transform: translate(-50%, -50%) rotate(-90deg) scale(0.2);
}

/* Show the checkmark when checked */
.checkbox-btnGroup input:checked~.checkmark:after {
    visibility: visible;
    opacity: 1;
    transform: translate(-50%, -50%) rotate(0deg) scale(1);
    animation: pulse 1s ease-in;
}

.checkbox-btnGroup input:checked~.checkmark {
    transform: rotate(45deg);
    border: none;
}

@keyframes pulse {

    0%,
    100% {
        transform: translate(-50%, -50%) rotate(0deg) scale(1);
    }

    50% {
        transform: translate(-50%, -50%) rotate(0deg) scale(1.6);
    }
}

/**/
.bannerImageAdd {
    background-color: #1f508d;
    color: #fff;
    padding: 10px 10px;
}

.bannerImageAdd label {
    color: #fff;
}

/**/
.bannnerImagesEdit {
    border: 1px solid #dee2e6;
    border-radius: 0.25rem;
    padding: 1rem;
}

.bannnerImagesEdit .row {
    border-bottom: 1px solid #dee2e6;
    padding: 1rem 0;
}



.bannnerImagesEdit .row div {
    border-right: 1px solid #dee2e6;
    padding: 0rem 1rem;
}

.bannnerImagesEdit .row div:last-child {
    border-right: none;
}